<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>设备数</string>
		<key>titlesmail</key>
		<string></string>
		<key>unit</key>
		<string>个</string>
		<key>percent</key>
		<string>1</string>
		<key>data</key>
		<string>1</string>
	</dict>
	<dict>
		<key>title</key>
		<string>社交软件（QQ、微信、微博等）</string>
		<key>titlesmail</key>
		<string>2M/小时</string>
		<key>unit</key>
		<string>小时/天</string>
		<key>percent</key>
		<string>0</string>
		<key>data</key>
		<string>2</string>
	</dict>
	<dict>
		<key>title</key>
		<string>视频</string>
		<key>titlesmail</key>
		<string>120M/小时</string>
		<key>unit</key>
		<string>小时/天</string>
		<key>percent</key>
		<string>0</string>
		<key>data</key>
		<string>120</string>
	</dict>
	<dict>
		<key>title</key>
		<string>音乐</string>
		<key>titlesmail</key>
		<string>5M/首</string>
		<key>unit</key>
		<string>首/天</string>
		<key>percent</key>
		<string>0</string>
		<key>data</key>
		<string>5</string>
	</dict>
	<dict>
		<key>title</key>
		<string>游戏</string>
		<key>titlesmail</key>
		<string>4M/小时</string>
		<key>unit</key>
		<string>小时/天</string>
		<key>percent</key>
		<string>0</string>
		<key>data</key>
		<string>4</string>
	</dict>
	<dict>
		<key>title</key>
		<string>上网阅读</string>
		<key>titlesmail</key>
		<string>2M/小时</string>
		<key>unit</key>
		<string>小时/天</string>
		<key>percent</key>
		<string>0</string>
		<key>data</key>
		<string>2</string>
	</dict>
	<dict>
		<key>title</key>
		<string>查看股票</string>
		<key>titlesmail</key>
		<string>4M/小时</string>
		<key>unit</key>
		<string>小时/天</string>
		<key>percent</key>
		<string>0</string>
		<key>data</key>
		<string>4</string>
	</dict>
	<dict>
		<key>title</key>
		<string>收发电子邮件</string>
		<key>titlesmail</key>
		<string>300K/封</string>
		<key>unit</key>
		<string>封/天</string>
		<key>percent</key>
		<string>0</string>
		<key>data</key>
		<string>300</string>
	</dict>
	<dict>
		<key>title</key>
		<string>下载应用</string>
		<key>titlesmail</key>
		<string>6M/个</string>
		<key>unit</key>
		<string>个/天</string>
		<key>percent</key>
		<string>0</string>
		<key>data</key>
		<string>6</string>
	</dict>
</array>
</plist>
